<query-editor-row query-ctrl="ctrl" can-collapse="true">
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow"><label class="gf-form-label query-keyword width-7">Query</label><input
                type="text" class="gf-form-input" ng-model="ctrl.target.query"
                spellcheck="false" placeholder="log query" ng-blur="ctrl.refresh()"></div>

    </div>
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow"><label class="gf-form-label query-keyword width-7">Y - column</label><input
                type="text" class="gf-form-input" ng-model="ctrl.target.ycol"
                spellcheck="false" placeholder="y column name" ng-blur="ctrl.refresh()"></div>
        <div class="gf-form gf-form--grow"><label class="gf-form-label query-keyword">X - column [time]</label><input
                type="text" class="gf-form-input" ng-model="ctrl.target.xcol"
                spellcheck="false" placeholder="x column name" ng-blur="ctrl.refresh()"></div>

    </div>
</query-editor-row>